<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>{% if page.title %} {{ page.title }} |{% endif %} {{ site.title }}</title>
      {% if page.description %}
      <meta name="description" content="{{ page.description }}">
      {% else %}
      <meta name="description" content="{{ site.description }}">
      {% endif %}
      <link rel="icon" type="image/x-icon" href="{{site.cloudfront_url}}/favicon.ico">
      <noscript>
        <link async rel="stylesheet" href="{{site.cloudfront_url}}/css/m.min.css">
      </noscript>
  </head>
  <body onload="loadStyle();">
